.inline-container{ white-space: nowrap;}
           
        .inline-text {
            display: inline;
            position: relative;
            animation-name: movingtext;
            animation-duration: 2s;
        }
        @keyframes changebackcolor {
            0% {background-color: #8ec5fc;}
            100% {background-color: #e0c3fc;}
        }
        @keyframes movingtext {
            0%   {left:500px; top:0px;}
            100% {left:0px; top:0px;}
          }
        .text1{
            position: relative;
            animation-name: m1;
            animation-duration: 1s;
        }
        @keyframes m1 {
            0%   {top:500px;}
            100% {top:0px;}
          }
        .text2{
            position: relative;
            animation-name: m1;
            animation-duration: 1.5s;
        }
        .text3{
            position: relative;
            animation-name: m1;
            animation-duration: 3s;
        }
        .pttpic{    
            animation-name: movingpic;
            animation-duration: 2s;
        }
        @keyframes movingpic {
            0%   {bottom:200px;}
            100% {bottom:0px;}
          }
        div.aligndiv div {/*讓 .aligndiv 內部的所有 <div> 元素都浮動到左邊*/
            float: left;
        }
        .arcwikilink{
            width:1040px;
            height: 765px;
            padding: 10px;
            border: 3px solid white;
            border-radius: 10px;
        }
        .randompic{
            width:400px;
            padding: 10px;
            border: 3px solid white;
            border-radius: 10px;
        }
        .note{
            width:400px;
            height:235px;
            padding: 10px;
            border: 3px solid white;
            border-radius: 10px;
        }
        .showptt{
            width: 250px;
            height:20px;
            padding:5px;
            border: 3px solid gray;
            border-radius: 10px;
        }
        body{
            animation-name: changebackcolor;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        table, th, tr, td {
            border: 3px solid rgb(166, 97, 164); 
            border-radius: 10px;
            text-align: center;
        }

        th {color: rgba(0, 153, 255, 0.515); font-size: 20px;}     
        
        td {font-family: Helvetica; color: black; font-size: 20px;}
        .timeline1{
            font-size:25px;color:slategray;position: absolute; left:1100px;
            font-family: Georgia, serif;
        }
        .timeline2{
            font-size:25px;color:slategray;position: absolute; left:1100px;
            font-family: Georgia, serif;
        }
        .timeline3{
            font-size:25px;color:slategray;position: absolute; left:1100px;
            font-family: Georgia, serif;
        }
        .etr {color:rgb(189, 143, 195)}
        .ftr {color: rgb(192, 19, 192);}
        .byd {color: rgb(255, 9, 9);}       